/**
*Estudo do float
*@autor Anselmo
*Data 26/09/2018
*/

/*
float: right (flutua a direita do elemento anterior);
float: left ( flutua a esquerda do elemento anterior);
*/


#vermelho {
	width: 250px;
	height: 250px;
	background-color: #ff0000;
	float: left;
}

#verde {
	width: 250px;
	height: 250px;
	background-color: #0f5b05;
	float: left;
}

#azul {
	width: 250px;
	height: 250px;
	background-color: #261a9a;
	float: left;
}